body {
  font-family: "Roboto", sans-serif;
  background-color: #f8f9fa;
}

.navbar-brand {
  font-weight: 700;
}

.card {
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.btn-success {
  background-color: #28a745;
  border-color: #28a745;
}

.btn-success:hover {
  background-color: #218838;
  border-color: #1e7e34;
}

footer {
  position: fixed;
  bottom: 10px;
  width: 100%;
  text-align: center;
}
